/* Include this stylesheet after Milligram or merge it with your main.css */

a {
    color: #E10098;
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
    background-color: #E10098;
    border: .1rem solid #E10098;
}

.button.button-outline, button.button-outline, input[type='button'].button-outline, input[type='reset'].button-outline, input[type='submit'].button-outline {
    color: #E10098;
}

.button.button-clear, button.button-clear, input[type='button'].button-clear, input[type='reset'].button-clear, input[type='submit'].button-clear {
    color: #E10098;
}

pre.prettyprint .lit {
    color: #E10098;
}

.share-icon {
    background-color: #E10098;
    color: #ffffff;
}

pre {
    background: #f4f5f6;
    border-left: .3rem solid #E10098;
}

pre.prettyprint {
    border-left: .3rem solid #E10098 !important;
    color: #655d5d;
}

pre.prettyprint .tag {
    color: #E10098;
}

pre.prettyprint .atn {
    color: #0065ce;
}

input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, textarea:focus, select:focus {
    border: .1rem solid #E10098;
}

.github-corner {
    color: #f4f5f6;
    fill: #E10098;
}