.idea
.vscode/settings.json
pgdata
#push.sh
uploads
uploads*
moon.py
node_modules
docs/doc
auth.db
#auth-proxy

deploy/auth-proxy
deploy/configs
deploy/configs_example
deploy/migrations
deploy/templates
deploy/node-apps
deploy/etc
deploy/certificates




