<div class="flexed max-width-600">
    {{^app}}
    <h2>Новое приложение <b id="newAppName"></b></h2>
    {{/app}}
    {{#app}}
    <h2>Приложение <b>{{app.appname}}</b></h2>
    {{/app}}

    <form id="formApp" onsubmit="event.preventDefault();">
        <div>
            <label >appname *</label>
            <input name="appname" type="text" placeholder="уникальный маршрут, латинскими буквами. Например: video"  
            {{#app}} disabled class="grayed" {{/app}}
            oninput="
            $('#newAppName').text(event.target.value);
            $('#newAppUrl').text(location.origin+'/apps/'+event.target.value);
            $('#newAppUrl').attr('href',location.origin+'/apps/'+event.target.value);
            "
            value="{{app.appname}}">
        </div>
        <div>
            <label >description</label>
            <input name="description" placeholder="описание. Например: Админка видео сервиса" value="{{app.description}}">
        </div>
        <div>
            <label >url</label>
            <input name="url" placeholder="URL/IP приложения доступного с auth-proxy. Например: http://admin.video.ru"  value="{{app.url}}">
            Доступно по: <a id="newAppUrl" href="/apps/{{app.appname}}/" target="_blank">{{origin}}/apps/{{app.appname}}</a>
        </div>
        <div>
            <label >rebase</label>
            <input name="rebase" placeholder="Y чтобы изменить ссылки на страницах на относительные."  value="{{app.rebase}}">
        </div>
        <div style="text-align: right;">
            <label></label>
            {{^app}}
            <button type="button" class="button button-outline" onclick="formAppSubmit(event, 'create_app')" >создать</button>
            {{/app}}
            {{#app}}
            <button type="button" class="button button-outline" onclick="deleteApp('{{app.appname}}'); showPage('apps');">удалить</button>
            <button type="button" class="button button-outline" onclick="formAppSubmit(event, 'update_app')">сохранить</button>
            {{/app}}
        </div>
        
    </form>

    <hr>
</div>


{{#app}}
<div class="flexed">
    <h2>
        <!-- <img src="templates/images/teamwork.png" style="width:25px; vertical-align:middle; margin-right: 10px; opacity: 0.5;">  -->
        Пользователи приложения 
        <b>{{app.appname}}</b>
    </h2>
    <table>
        <tr>
            <th>пользователь</th>
            <th>полное имя</th>
            <th>роли</th>
        </tr>
            {{#app.users}}
            <tr>
                <td>{{username}}</td>
                <td>{{user_fullname}}</td>
                <td>


                    {{#items}}
                    <button class="button button-outline role" 
                        onclick="modifyRole('delete', '{{app.appname}}', '{{username}}','{{rolename}}',()=>{ getApp('{{app.appname}}') } )"
                        >
                        {{rolename}}
                    </button>
                    {{/items}} 
                    <span class="button button-outline role-nocross">
                        <input id="newRoleName-{{username}}" class="role-input">
                        <button class="button button-outline role-add" 
                            onclick="modifyRole('create', '{{app.appname}}', '{{username}}', $('#newRoleName-{{username}}').val(), ()=>{ getApp('{{app.appname}}') }  )"
                            >
                        +
                        </button>
                    </span>




                </td>
            </tr>
            {{/app.users}}

        <tr>
            <td>                
                <input id="newAppUsername" 
                    list="usersDataList" 
                    placeholder="Добавить пользователя. Поиск." 
                    onchange="$('#newAppUserFullName').text($(`#usersDataList>option[value='${this.value}'`).text());"
                >
                <datalist id="usersDataList">
                    {{{all_user_options}}}
                </datalist>
            </td>
            <td id="newAppUserFullName">
            </td>
            <td>
                <span class="button button-outline role-nocross">
                        <input id="newAppRolename" class="role-input"  placeholder="новая роль">
                        <button class="button button-outline role-add" 
                            onclick="modifyRole('create', '{{app.appname}}', $('#newAppUsername').val(), $('#newAppRolename').val(), ()=>{ getApp('{{app.appname}}') }  )"
                            >
                        +
                        </button>
                </span>
            </td>
        </tr>

        

    </table>
</div>
{{/app}}


