
            <table>
                <thead>
                    <tr>
                        <th><a href="" class="sortable" title="sort by appname" onclick="return sortAppsBy('appname')">appname</a></th>
                        <th><a href="" class="sortable" title="sort by description" onclick="return sortAppsBy('description')">description</a></th>
                        {{#isAdmin}}
                        <th><a href="" class="sortable" title="sort by url" onclick="return sortAppsBy('url')">url</a></th>
                        <th><a href="" class="sortable" title="sort by public" onclick="return sortAppsBy('public')">public</a></th>
                        <th><a href="" class="sortable" title="sort by rebase" onclick="return sortAppsBy('rebase')">rebase</a></th>
                        <th></th>
                        {{/isAdmin}}
                    <tr>
                </thead>
                <tbody>
                    {{#apps}}
                    <tr>
                        <td>
                            <a href="apps/{{appname}}/" target="_blank" ><b>{{appname}}</b></a>
                        </td>
                        <td>
                            <a href="apps/{{appname}}/" target="_blank">{{description}}</a>
                        </td>
                        {{#isAdmin}}
                        <td>
                            <a href="apps/{{appname}}/" target="_blank">{{url}}</a>
                        </td>
                        <td>
                            <a href="apps/{{appname}}/" title="public" target="_blank">{{public}}</a>
                        </td>
                        <td>
                            <a href="apps/{{appname}}/" title="rebased" target="_blank">{{rebase}}</a>
                        </td>
                        <td>
                            <button class="button button-clear" onclick="showPage('app/{{appname}}');">редактировать</button>
                            <button class="button button-clear delete" onclick="deleteApp('{{appname}}');">✕</button>
                        </td>
                        {{/isAdmin}}
                    <tr>
                    {{/apps}}
                </tbody>
            <table>

