
            <table>
                <thead>
                    <tr>
                        <th>путь</th>
                        <th>описание</th>
                        <th>реальный url</th>
                        <th>действия</th>
                    <tr>
                </thead>
                <tbody>
                    {{#apps}}
                    <tr>
                        <td>
                            <a href="apps/{{appname}}" target="_blank" >{{appname}}</a>
                            <!-- &#x25B6; -->
                        </td>
                        <td>
                            <a href="" onclick="getApp('{{appname}}'); return showPage('app',true);">{{description}}</a>
                        </td>
                        <td>
                            <a href="{{url}}" target="_blank" >{{url}}</a>
                        </td>
                        <td>
                            <button class="button button-clear" onclick="getApp('{{appname}}'); showPage('app',true);">редактировать</button>
                            <button class="button button-clear delete" onclick="deleteApp('{{appname}}'); showPage('apps');">✕</button>
                        </td>
                    <tr>
                    {{/apps}}
                </tbody>
            <table>

