
            <table>
                <thead>
                    <tr>
                        <th>путь</th>
                        <th>описание</th>
                        <th>действия</th>
                    <tr>
                </thead>
                <tbody>
                    {{#apps}}
                    <tr>
                        <td>
                            <a href="apps/{{appname}}" target="_blank" >/apps/{{appname}}/</a>
                            <!-- &#x25B6; -->
                        </td>
                        <td>{{description}}</td>
                        <td>
                            <a href="" class="button button-clear">редактировать</a>
                            <a href="" class="button button-clear">удалить</a>
                        </td>
                    <tr>
                    {{/apps}}
                </tbody>
            <table>

