    <!--    
        <h4>Login REST</h4>
        <div class="flexed">
            <form id="formLoginRest" onsubmit="loginRestFormSubmit(event)">
                <div>
                    <label class="param-name">username</label>
                    <input name="username" type="text" value="vadim">
                </div>
                <div>
                    <span class="param-name">password</span>
                    <input name="password" type="text" value="1">
                </div>
                <div>
                    <span class="param-name"></span>
                    <input type="submit" class="button button-outline" value="Login">
                </div>
            </form>
            <pre id="resultLoginRest"></pre>
        </div>
    -->
    <div class="flexed">
        <h2>Login</h2>
        <form id="formLoginGraphQL" onsubmit="return loginGraphQLFormSubmit(event)">
            <div>
                <label class="param-name">username</label>
                <input name="username" type="text" value="vadim">
            </div>
            <div>
                <label class="param-name">password</label>
                <input name="password" type="text" value="1">
            </div>
            
            <div style="text-align: right;">
                <span class="param-name"></span>
                <input type="submit" class="button button-outline" value="Login">
            </div>
        </form>
        <button class="button button-clear tab"  onclick="model.user = null; showPage('user', true) ;">создать нового пользователя</button>

        <pre id="resultLoginGraphQL"></pre>
    </div>

