        <!--
        <h4>Logout REST</h4>
        <div class="flexed">
            <form id="formLogoutRest" onsubmit="return logoutRestFormSubmit(event)">
                <div>
                    <span class="param-name"></span>
                    <input type="submit" class="button button-outline" value="Logout">
                </div>
            </form>
            <pre id="resultLogoutRest"></pre>
        </div>
        -->
        <div class="flexed">
            <h2>Logout</h2>
            <form id="formLogoutGraphQL" onsubmit="logoutGraphQLFormSubmit(event)">
                <input type="submit" class="button button-outline" value="Logout">
            </form>
            <pre id="resultLogoutGraphQL"></pre>
        </div>
