
<div style="text-align: center;">
    <br>
    <br>
    <label>роли</label>
    <br>
    {{#app_user_roles}}
    <button class="button button-outline role" 
        onclick="modifyRole('delete', document.getElementById('allApps').value, document.getElementById('allUsers').value,'{{rolename}}', formListRoleSubmit )"
        >
        {{rolename}}
    </button>
    {{/app_user_roles}} 
    <span class="button button-outline role-nocross">
        <input id="newRoleName" class="role-input">
        <button class="button button-outline role-add" 
            onclick="modifyRole('create', document.getElementById('allApps').value, document.getElementById('allUsers').value, document.getElementById('newRoleName').value , formListRoleSubmit )"
            >
        +
        </button>
    </span>
</div>
        