<table>
        <thead>
            <tr>
                <th>username</th>
                <th>email</th>
                <th>fullname</th>
                <th>description</th>
                <th>actions</th>
            <tr>
        </thead>
        <tbody>
            {{#users}}
            <tr>
                <td>
                    <a href="" >{{username}}</a>
                </td>
                <td>
                    <a href="mailto:{{email}}" target="_blank" >{{email}}</a>
                </td>
                <td><a href="" >{{fullname}}</a></td>
                <td>{{description}}</td>
                <td>
                    <button class="button button-clear" onclick="getUser('{{username}}'); showPage('user');" >редактировать</button>
                    <button class="button button-clear" onclick="deleteUser('{{username}}'); showPage('users');" >удалить</button>
                </td>
            <tr>
            {{/users}}
        </tbody>
    <table>

