<div class="flexed">
    <h2>Пользователь {{username}}.</h2>
    <form id="formUser" onsubmit="event.preventDefault();">
        <div>
            <label >username</label>
            <input name="username" type="text" value="{{username}}">
        </div>
        <div>
            <label >password</label>
            <input name="password" type="text" value="{{password}}">
        </div>
        <div>
            <label >email</label>
            <input name="email" type="text" value="{{email}}">
        </div>

        <div>
            <label >fullname</label>
            <input name="fullname" type="text" value="{{fullname}}">
        </div>
        <div>
            <label >description</label>
            <input name="description" type="text" value="{{description}}">
        </div>
        <div style="text-align: right;">
            <label></label>
            <button type="button" class="button button-outline" onclick="return formUserSubmit(event, 'create_user')" >создать</button>
            <button type="button" class="button button-outline" onclick="return formUserSubmit(event, 'update_user')">сохранить</button>
        </div>
        <div class="status">status</div>
        
    </form>
    <hr>
    <pre id="resultUser"></pre>
    <hr>
</div>


