<div class="flexed max-width-600">
    {{^user}}
    <h2>Новый пользователь <b id="newUserName"></b></h2>
    {{/user}}
    {{#user}}
    <h2>Пользователь <b>{{user.username}}</b></h2>
    {{/user}}

    <form id="formUser" onsubmit="event.preventDefault();">
        <div>
            <label >username *</label>
            <input name="username" type="text" placeholder="уникальный идентификатор пользователя"
            {{#user}} disabled class="grayed" {{/user}}
            oninput=" $('#newUserName').text(event.target.value) "
            value="{{user.username}}">
        </div>
        <div>
            <label >password (больше 5 символов) {{^user}}*{{/user}} </label>
            <input name="password" type="password" placeholder="новый пароль" value="{{user.password}}">
            {{#user}}
            <div>
                Если поле пусто пароль не меняется.<br><br>
            </div>
            {{/user}}
        </div>
        <div>
            <label >email</label>
            <input name="email" placeholder="емайл" value="{{user.email}}">
        </div>

        <div>
            <label >fullname</label>
            <input name="fullname"  placeholder="фамилия имя" value="{{user.fullname}}">
        </div>
        <div>
            <label >description </label>
            <textarea name="description" placeholder="дополнительная информация" >{{user.description}}</textarea>
        </div>
        
        <div class="{{^isAdmin}}hidden{{/isAdmin}}">
            <label >disabled</label>
            <input name="disabled" type="number" placeholder="Если не равно 0, пользователь отключен" value="{{#user}}{{user.disabled}}{{/user}}{{^user}}0{{/user}}">
            <span>Если не равно 0, пользователь отключен</span>
        </div>
        
        <div style="text-align: right;">
            <label></label>
            {{^user}}
            <button type="button" class="button button-outline" onclick="formUserSubmit(event, 'create_user')" >создать</button>
            {{/user}}
            {{#user}}
            {{#isAdmin}}
            <button type="button" class="button button-outline" onclick="deleteUser('{{user.username}}'); showPage('users');">удалить</button>
            {{/isAdmin}}
            <button type="button" class="button button-outline" onclick="formUserSubmit(event, 'update_user')">сохранить</button>
            {{/user}}
        </div>
        
    </form>

    
</div>

{{#user}}
<div class="flexed">

    <div class="max-max-auto">
        <h2>Приложения пользователя</h2> 
        <h2><b>{{user.username}}</b></h2>
        <span></span>
        <input placeholder="Фильтр" oninput="filterRows('#UserApps .filtered-row', this.value )">
    </div>
        
    <table id="UserApps">
        <tr>
            <th>приложение</th>
            <th>описание</th>
            <th>роли</th>
        </tr>
        {{#user.apps}}
        <tr class="filtered-row">
            <td><a href="" title="Редактировать" onclick="return showPage('app/{{appname}}');">{{appname}}</a></td>
            <td><a href="" title="Редактировать" onclick="return showPage('app/{{appname}}');">{{app_description}}</a></td>
            <td>


                {{#items}}
                <button class="button button-outline role" 
                    onclick="modifyRole('delete', '{{appname}}', '{{user.username}}','{{rolename}}',()=>{ getUser('{{user.username}}') } )"
                    >
                    {{rolename}}
                </button>
                {{/items}} 

                {{#isAdmin}}
                <span class="button button-outline role-nocross">
                    <input id="newRoleName-{{appname}}" class="role-input">
                    <button class="button button-outline role-add" 
                        onclick="modifyRole('create', '{{appname}}', '{{user.username}}', $('#newRoleName-{{appname}}').val(), ()=>{ getUser('{{user.username}}') }  )"
                        >
                    +
                    </button>
                </span>
                {{/isAdmin}}
            </td>
        </tr>
        {{/user.apps}}

        {{#isAdmin}}
        <tr>
            <td>
                <input id="newUserAppname" 
                    list="appsDataList" 
                    placeholder="Добавить приложение. Поиск." 
                    onchange="$('#newUserAppDescription').text($(`#appsDataList>option[value='${this.value}'`).text());"
                >
                <datalist id="appsDataList">
                    {{{all_app_options}}}
                </datalist>

            </td>
            <td id="newUserAppDescription">
           </td>
            <td>
                <span class="button button-outline role-nocross">
                        <input id="newUserRolename" class="role-input" placeholder="новая роль">
                        <button class="button button-outline role-add" 
                            onclick="modifyRole('create', $('#newUserAppname').val(), '{{user.username}}',  $('#newUserRolename').val(), ()=>{ getUser('{{user.username}}') }  )"
                            >
                        +
                        </button>
                </span>
            </td>
        </tr>
        {{/isAdmin}}





    </table>
</div>
{{/user}}



