<table>
        <thead>
            <tr>
                <th><a href="" class="sortable" title="sort by appname" onclick="return sortUsersBy('username')">username</a></th>
                <th><a href="" class="sortable" title="sort by appname" onclick="return sortUsersBy('email')">email</a></th>
                <th><a href="" class="sortable" title="sort by appname" onclick="return sortUsersBy('fullname')">fullname</a></th>
                <th><a href="" class="sortable" title="sort by appname" onclick="return sortUsersBy('description')">description</a></th>
                <!-- <th>disabled</th> -->
                <th>actions</th>
            <tr>
        </thead>
        <tbody>
            {{#users}}
            <tr
            {{#disabled}}
            style="text-decoration: line-through; " 
            {{/disabled}}            
            >
                <td>
                    <a href="" title="Редактировать" onclick="getUser('{{username}}'); return showPage('user',true);">
                            {{username}}
                    </a>
                </td>
                <td>
                    <!-- <a href="mailto:{{email}}" title="Написать письмо"  target="_blank" > -->
                    <a href="" title="Редактировать" onclick="getUser('{{username}}'); return showPage('user',true);">
                        {{email}}
                    </a>
                </td>
                <td>
                    <a href="" title="Редактировать"  onclick="getUser('{{username}}'); return showPage('user',true);" >
                        {{fullname}}
                        {{#disabled}}
                        (отключен)
                        {{/disabled}}
            
                    </a>
                </td>
                <td>
                    <a href="" title="Редактировать"  onclick="getUser('{{username}}'); return showPage('user',true);">
                        {{description}}
                    </a>
                </td>
                <!--
                <td>
                    <a href="" onclick="getUser('{{username}}'); return showPage('user',true);">
                        {{disabled}}
                    </a>
                </td>
                -->
                <td>
                    <button class="button button-clear" onclick="getUser('{{username}}'); showPage('user',true);" >редактировать</button>
                    <button class="button button-clear delete" title="Удалить"  onclick="deleteUser('{{username}}'); showPage('users');" >✕</button>
                </td>
            <tr>
            {{/users}}
        </tbody>
    <table>

