<div class="flexed max-width-600">
    {{^user}}
    <h2>Новый пользователь <b id="newUserName"></b></h2>
    {{/user}}
    {{#user}}
    <h2>Пользователь <b>{{user.username}}</b></h2>
    {{/user}}

    <form id="formUser" onsubmit="event.preventDefault();">
        <div>
            <label >username *</label>
            <input name="username" type="text" placeholder="уникальный идентификатор пользователя"
            {{#user}} disabled class="grayed" {{/user}}
            oninput=" $('#newUserName').text(event.target.value) "
            value="{{user.username}}">
        </div>
        <div>
            <label >password *</label>
            <input name="password" placeholder="пароль" value="{{user.password}}">
        </div>
        <div>
            <label >email</label>
            <input name="email" placeholder="емайл" value="{{user.email}}">
        </div>

        <div>
            <label >fullname</label>
            <input name="fullname"  placeholder="полное имя" value="{{user.fullname}}">
        </div>
        <div>
            <label >description </label>
            <input name="description"  placeholder="дополнительная информация" value="{{user.description}}">
        </div>
        <div style="text-align: right;">
            <label></label>
            {{^user}}
            <button type="button" class="button button-outline" onclick="formUserSubmit(event, 'create_user')" >создать</button>
            {{/user}}
            {{#user}}
            <button type="button" class="button button-outline" onclick="deleteUser('{{user.username}}'); showPage('users');">удалить</button>
            <button type="button" class="button button-outline" onclick="formUserSubmit(event, 'update_user')">сохранить</button>
            {{/user}}
        </div>
        
    </form>
    <!-- <hr> -->
    <pre id="resultUser"></pre>
    <!-- <hr> -->

    
</div>

{{#user}}
<div class="flexed">
    <h2>Приложения пользователя <b>{{user.username}}</b></h2>
    <table>
        <tr>
            <th>приложение</th>
            <th></th>
            <th>роли</th>
        </tr>
        {{#user.apps}}
        <tr>
            <td>{{appname}}</td>
            <td>{{app_description}}</td>
            <td>


                {{#items}}
                <button class="button button-outline role" 
                    onclick="modifyRole('delete', '{{appname}}', '{{user.username}}','{{rolename}}',()=>{ getUser('{{user.username}}') } )"
                    >
                    {{rolename}}
                </button>
                {{/items}} 
                <span class="button button-outline role-nocross">
                    <input id="newRoleName-{{appname}}" class="role-input">
                    <button class="button button-outline role-add" 
                        onclick="modifyRole('create', '{{appname}}', '{{user.username}}', $('#newRoleName-{{appname}}').val(), ()=>{ getUser('{{user.username}}') }  )"
                        >
                    +
                    </button>
                </span>

            </td>
        </tr>
        {{/user.apps}}

        <tr>
            <td id="newUserAppname"></td>
            <td>
                <select class="nomargin" onchange="$('#newUserAppname').text(this.value)">
                    <option value=""> добавить приложение</option>
                    {{{all_app_options}}}
                </select>
            </td>
            <td>
                <span class="button button-outline role-nocross">
                        <input id="newUserRolename" class="role-input">
                        <button class="button button-outline role-add" 
                            onclick="modifyRole('create', $('#newUserAppname').text(), '{{user.username}}',  $('#newUserRolename').val(), ()=>{ getUser('{{user.username}}') }  )"
                            >
                        +
                        </button>
                </span>
            </td>
        </tr>
        






    </table>
</div>
{{/user}}



