@import url("https://fonts.googleapis.com/css?family=Open+Sans:800|Roboto:400,900&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400");

body {
    margin: 30px;
    margin-bottom: 300px;
}

h4 {
    margin-top: 30px;
}

.logo {
    width:80px; 
    vertical-align: middle;
    margin-right: 30px;
}


pre {
    margin: 0;
    margin-left: 5px;
    resize: vertical;
    overflow: auto;
    font-size: 90%;
    border: none;
    /* border-left: 1px dashed silver; */
    /* border-radius: 8px; */
    font-family: "Roboto Mono";
    background-color: transparent;
}

.flexed {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.flexed>* {
    width: 100%;
    max-width: 800px;
    justify-self: center;
}

.flexed>pre {
    display: none;
}

.ui-widget {
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.menu {
    margin-bottom: 50px;
    margin-top:50px;
}

.underlined {
    border-bottom: 1px dashed silver ;
}

/* fix skeleton */
li {
    margin-bottom: 0;
}
/* fix milligram */
ol ol, ol ul, ul ol, ul ul {
    font-size: 100%;
}

.grided {
    display: grid;
    grid-template-columns: 1fr 120px;
    grid-column-gap: 5px;
    align-items: end;
}
.grided input {
    margin-bottom: 15px;
}
.grided button {
    margin-bottom: 15px;
}

.threeColumns {
    /* grid-template-columns: 1fr 1fr 120px;  */
    grid-template-columns: 1fr 1fr; 
}

table .button {
    margin-bottom: 0;
    padding-left: 0;
}

.nomargin {
    margin: 0;
}


.grayed {
    opacity: 0.5;
}

.status {
    text-align: right;
}

.role {
    border: 1px solid #9b4dca;
    border-radius: 20px;
    padding: 1px;
    padding-left:9px;
    padding-right:7px;
    position:relative;
    color:#9b4dca;
    height:26px;
    line-height:24px;
}

.role::after {
    content: "✕";
    padding-left: 10px;
    color: #9b4dca;
}

.plus {
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 1px;
    padding-left:7px;
    padding-right:7px;
    color:#9b4dca;
    /* font-weight: bold; */
}

#loginTab, #logoutTab {
    float: right;
}


.role-add {
    padding: 0; margin:0;
    line-height: 0;
    height: 20px;
    width: 20px;
    border-radius: 19px;
}

input.role-input {
    width:80px; 
    height: 20px; 
    padding:0; margin: 0;  
    border-radius: 0;
    border-color:transparent;
    position: relative;
    top: -1px;
}

.role-nocross {
    border: 1px solid #9b4dca;
    border-radius: 20px;
    padding: 1px;
    padding-left:9px;
    padding-right:3px;
    position:relative;
    color:#9b4dca;
    height:26px;
    line-height:24px;
    font-weight: bold;
    position: relative;
    top: -1px;
    border-style: dashed;
    border-color: silver;
}
