        <h4>Приложения</h4>
        <div class="flexed">
            <form id="formListApp" onsubmit="return formListAppSubmit(event)">
                   <input name="search" type="text" placeholder="%">
                   <input type="submit" class="button button-outline" value="Искать">
            </form>
            <pre id="resultListApp"></pre>
        </div>

        <div>
            <table>
                <tr>
                    <th>appname</th>
                    <th>описание</th>
                <tr>
                {{#apps}}
                <tr>
                    <td>{{appname}}</td>
                    <td>{{description}}</td>
                <tr>
                {{/apps}}
            <table>
        </div>
