<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>auth-proxy API RG.RU</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
    <script src="templates/jquery.json-viewer.js"></script>
    
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"> -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" type="text/css" href="templates/index.css" />
    <link rel="stylesheet" type="text/css" href="templates/jquery.json-viewer.css" />
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>

</head>

<body>

    <h3><img src="templates/images/rgru-logo.png" class="logo"><b>Auth-Proxy</b> Сервис Авторизации</h3>
    <p><a target="_blank" href="https://graphql-test.now.sh/">Тесты GraphQL API &#x25B6;</a></p>

    <div id="menu" class="menu underlined"></div>


    <div class="page" id="loginPage"></div>


    <div class="page" id="logoutPage"></div>


    <div class="page" id="appsPage">
        <div class="flexed">
            <h2>Приложения</h2>
            <form id="formListApp" class="grided" onsubmit="return formListAppSubmit(event)">
                <div>
                    <label  for="search"></label>
                    <input name="search" type="text" placeholder="строка поиска" oninput="return delayFunc(formListAppSubmit)"  value="test0">
                </div>
                <button type="submit" class="fa fa-search button button-outline" ></button>
            </form>
            <pre id="resultListApp"></pre>
        </div>
        <div class="app-search-results"></div>
   </div>




    <div class="page" id="usersPage">
        <div class="flexed">
            <h2>Пользователи</h2>
            <form id="formListUser" class="grided" onsubmit="return formListUserSubmit(event)">
                <div>
                    <label  for="search"></label>
                    <input name="search" type="text" placeholder="строка поиска" oninput="return delayFunc(formListUserSubmit)" value="test0">
                </div>
                <button type="submit" class="fa fa-search button button-outline" ></button>
            </form>
            <pre id="resultListUser"></pre>
        </div>
        <div class="user-search-results"></div>
    </div>


    <div class="page" id="rolesPage">
        <div class="flexed">
            <h2>Роли пользователей в приложениях</h2>
            <form id="formListApp" class="grided threeColumns" onsubmit="return formListRoleSubmit(event)">
                <div>
                    <label >приложение</label>
                    <select name="appname" onchange="return formListRoleSubmit(event)"></select>
                </div>
                <div>
                    <label >пользователь</label>
                    <select name="username" onchange="return formListRoleSubmit(event)"></select>
                </div>
                <button type="submit" class="fa fa-search button button-outline" ></button>
            </form>
            <pre id="resultListRole"></pre>
        </div>
        <div class="app-user-roles-search-results"></div>
   </div>



    <div class="page" id="userPage"></div>

    <div class="page" id="appPage"></div>








    <br><br><br><br><br><br><br><br><br><br><br><br>
    <button class="button button-clear" onclick="$('<style>.flexed>pre { display: block; }</style>').appendTo('head')">show responses</button>
    <button class="button button-clear" onclick="$('<style>.flexed>pre { display: none; }</style>').appendTo('head')">hide responses</button>
    <script src="templates/index.js"></script>
</body>

</html>