<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>auth-proxy API RG.RU</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/milligram.min.css"> 

    <link rel="stylesheet" type="text/css" href="css/themes/graphql.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>

</head>

<body>

    <div id="page-container">
        <div id="header" class="header">
            <!-- <img src="images/rgru-logo.png" class="logo"> -->
            <h4><a href="" onclick="return showPage('login',true)"><img src="images/graphql-logo.svg" class="graphql-logo">&nbsp;&nbsp;Сервис авторизации</a></h4>
            <span class="right0" style="vertical-align: top0;">
                <span id="menu" class="menu">
                    <a href="" id="appsTab"  class="button button-clear tab"  onclick="searchApps();  return showPage('apps') ;">Приложения</a>
                    <a href="" id="usersTab" class="button button-clear tab"  onclick="searchUsers(); return showPage('users');">Пользователи</a>
                    <a href="" id="rolesTab" class="button button-clear tab"  onclick="formListRoleSubmit(); return showPage('roles');">Роли</a>
                    <a href="" id="userTab" class="button button-clear tab"   onclick="getUser(model.loginedUser.username); return showPage('user');">профиль</a>
                    <a href="" id="logoutButton" class="button button-clear tab"  onclick="return logout()">Выход</a>
                </span>
            </span>
        </div>
        <div id="content">

            <div id="userPage"  class="page"></div>
            <div id="appPage"   class="page"></div>
            
            <div id="loginPage" class="page">
                <div class="flexed max-width-400">

                        <h2>Вход</h2>
                        <form id="formLoginGraphQL" onsubmit="return loginGraphQLFormSubmit(event)">
                            <div>
                                <!-- <label class="param-name">username</label> -->
                                <input id="loginUsername" name="username" type="text" placeholder="имя" onchange="isCaptchaRequired(event)">
                            </div>
                            <div>
                                <!-- <label class="param-name">password</label> -->
                                <input id="loginPassword" name="password" type="password" placeholder="пароль">
                            </div>

                            <div id="captcha">
                                <!-- <label class="param-name">captcha</label> -->
                                <div style="display: grid; grid-template-columns: auto auto 1fr ; grid-column-gap: 10px;">
                                    <img id="captchaImg" src="" class="captcha-image">
                                    <button class="button-outline" tabindex="-1" onclick="getNewCaptcha()" style="font-size: 26px; font-wehght:normal; padding-left:8px; padding-right:8px;">&#x27F3;</button>
                                    <input id="loginCaptcha" name="captcha" type="text" placeholder="введите изображение">
                                </div>
                            </div>
                             
                            
                            <div style="text-align: right;">
                                <!-- <label class="param-name">&nbsp</label> -->
                                <input type="submit" class="button button-outline" value="Вход">
                                <div id="loginError"></div>
                            </div>
                        </form>
                        <button class="button button-clear tab"  onclick="generateNewPassword()">выслать новый пароль</button>
                        <button id="selfRegButton" class="button button-clear tab"  onclick="model.user = null; showPage('user', true) ;">создать нового пользователя</button>
                </div>
            </div>
                
            <div class="page" id="appsPage">
                <div class="flexed max-width-600">           
                    <h2 class="centered">
                        Приложения
                    </h2>
                    <form id="formListApp" class="grided0" onsubmit="return searchApps()">
                        <div>
                            <label  for="search"></label>
                            <input name="search" type="text" placeholder="Поиск" oninput="return searchApps()"  value="">
                        </div>
                    </form>
                    <button id="btnNewApp" class="button button-clear tab"  onclick="model.app  = null; showPage('app',true)  ;">Новое приложение</button>
                    <br>
                </div>
                <div class="app-search-results"></div>
            </div>


            <div class="page" id="usersPage">
                <div class="flexed max-width-600">
                    <h2 class="centered">Пользователи</h2>
                    <form id="formListUser" class="grided0" onsubmit="return searchUsers()">
                        <div>
                            <label  for="search"></label>
                            <input name="search" type="text" placeholder="строка поиска" oninput="return searchUsers()" value="">
                        </div>
                    </form>
                    <button class="button button-clear tab"  onclick="model.user = null; showPage('user',true) ;">создать нового пользователя</button>
                    <br>
                </div>
                <div class="user-search-results"></div>
            </div>


            <div class="page" id="rolesPage">
                <div class="flexed">
                    <h2 class="centered">Роли пользователя в приложении</h2>
                    <form id="formListRole" class="grided threeColumns"  style="align-items: start;">
                        <div>
                            <label >пользователь</label>
                            <input id="allUsers" list="allUsersDataList" placeholder="Выберите пользователя" name="username"  
                                onkeypress="if (event.keyCode == 13) refreshRoles();" onchange="refreshRoles()">
                            <datalist id="allUsersDataList"></datalist>
                            <div id="userInfo"></div>
                            
                        </div>
                        <div> 
                            <label>приложение</label>
                            <input id="allApps" list="allAppsDataList" placeholder="Выберите приложение" name="appname" 
                            onkeypress="if (event.keyCode == 13) refreshRoles();" onchange="refreshRoles()">
                            <datalist id="allAppsDataList"></datalist>
                            <div id="appInfo"></div>
                        </div>
                    </form>
                    <div class="app-user-roles-results"></div>
                </div>
            </div>


        </div>  
        <div id="footer" class="footer">
            <input id="chkLocalSearch" type="checkbox" checked>
            <span >local search</span>
            &nbsp;&nbsp;
            <a target="_blank" href="https://graphql-test.now.sh/">&nbsp;&nbsp;&nbsp;GraphQL API &#x25B6;</a>
        </div>
    </div>

    <!-- minified version -->
    <script src="jsmin/index.min.js"></script>
</body>

</html>
