<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>auth-proxy API RG.RU</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
    <script src="templates/js/jquery.json-viewer.js"></script>
    
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"> -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- <link rel="stylesheet" type="text/css" href="templates/css/theme.css" /> -->
    <link rel="stylesheet" type="text/css" href="templates/css/index.css" />
    <link rel="stylesheet" type="text/css" href="templates/css/jquery.json-viewer.css" />
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>

</head>

<body>
    <div id="jsonViewer" class="json-viewer">
        <div class="json-viewer-close" onclick="$('#jsonViewer').hide()">x</div>
        <pre id="jsonViewerView"></pre>
    </div>
    <div id="blinkMessage" class="blink-message info">a</div>


    <div id="page-container">
        <div id="header" class="header">
            <!-- <img src="templates/images/rgru-logo.png" class="logo"> -->
            <h4><a href="/testapp"></a>Сервис авторизации</h4>
            <span class="right0" style="vertical-align: top0;">
                <span id="menu" class="menu">
                    <a href="" id="appsTab"  class="button button-clear tab"  onclick="searchApps();  return showPage('apps') ;">Приложения</a>
                    <a href="" id="usersTab" class="button button-clear tab"  onclick="searchUsers(); return showPage('users');">Пользователи</a>
                    <a href="" id="rolesTab" class="button button-clear tab"  onclick="formListRoleSubmit(); return showPage('roles');">Роли</a>
                    <a href="" id="userTab" class="button button-clear tab"   onclick="getUser(model.loginedUser.username); return showPage('user');">профиль</a>
                    <a href="" id="logoutButton" class="button button-clear tab"  onclick="logoutGraphQLFormSubmit(); return showPage('login',true)">Выход</a>
                </span>
            </span>
        </div>
        <div id="content">

            <div id="userPage"  class="page"></div>
            <div id="appPage"   class="page"></div>
            
            <div id="loginPage" class="page">
                <div class="flexed max-width-400">

                        <h2>Вход</h2>
                        <form id="formLoginGraphQL" onsubmit="return loginGraphQLFormSubmit(event)">
                            <div>
                                <label class="param-name">username</label>
                                <input name="username" type="text" placeholder="имя или емайл">
                            </div>
                            <div>
                                <label class="param-name">password</label>
                                <input name="password" type="password" placeholder="пароль">
                            </div>
                            
                            <div style="text-align: right;">
                                <label class="param-name"></label>
                                <input type="submit" class="button button-outline" value="Вход">
                            </div>
                        </form>
                        <button class="button button-clear tab"  onclick="generateNewPassword()">выслать новый пароль</button>
                        <button class="button button-clear tab"  onclick="model.user = null; showPage('user', true) ;">создать нового пользователя</button>
                </div>
            </div>
                
            <div class="page" id="appsPage">
                <div class="flexed max-width-600">           
                    <h2 class="centered">
                        Приложения
                    </h2>
                    <form id="formListApp" class="grided0" onsubmit="return searchApps()">
                        <div>
                            <label  for="search"></label>
                            <input name="search" type="text" placeholder="Поиск" oninput="return searchApps()"  value="">
                        </div>
                        <!-- <button type="submit" class="fa fa-search button button-outline" ></button> -->
                    </form>
                    <button id="btnNewApp" class="button button-clear tab"  onclick="model.app  = null; showPage('app',true)  ;">Новое приложение</button>
                    <br>
                </div>
                <div class="app-search-results"></div>
            </div>


            <div class="page" id="usersPage">
                <div class="flexed max-width-600">
                    <h2 class="centered">Пользователи</h2>
                    <form id="formListUser" class="grided0" onsubmit="return searchUsers()">
                        <div>
                            <label  for="search"></label>
                            <input name="search" type="text" placeholder="строка поиска" oninput="return searchUsers()" value="">
                        </div>
                        <!-- <button type="submit" class="fa fa-search button button-outline" ></button> -->
                    </form>
                    <button class="button button-clear tab"  onclick="model.user = null; showPage('user',true) ;">создать нового пользователя</button>
                    <br>
                </div>
                <div class="user-search-results"></div>
            </div>


            <div class="page" id="rolesPage">
                <div class="flexed">
                    <h2 class="centered">Роли пользователя в приложении</h2>
                    <form id="formListRole" class="grided threeColumns"  style="align-items: start;" onsubmit="return formListRoleSubmit(event)">
                        <div>
                            <label >пользователь</label>
                            <input id="allUsers" list="allUsersDataList" placeholder="Выберите пользователя" name="username"  
                                onchange="$('#userInfo').text($(`#allUsersDataList>option[value='${this.value}'`).text()); return formListRoleSubmit(event)">
                            <datalist id="allUsersDataList"></datalist>
                            <div id="userInfo"></div>
                            
                        </div>
                        <div> 
                            <label>приложение</label>
                            <input id="allApps" list="allAppsDataList" placeholder="Выберите приложение" name="appname" 
                                onchange="$('#appInfo').text($(`#allAppsDataList>option[value='${this.value}'`).text()); return formListRoleSubmit(event)">
                            <datalist id="allAppsDataList"></datalist>
                            <div id="appInfo"></div>
                        </div>
                    </form>
                    <div class="app-user-roles-results"></div>
                </div>
            </div>

            <!-- <div id="graphqlTest">
                    <a target="_blank" href="https://graphql-test.now.sh/">Тесты GraphQL (в новом окне). &#x25B6;</a>
                    Шелкните [+] чтобы создать новую вкладку и 
                    введите <b><script> document.write(document.location.origin)</script>/schema</b> в поле [GraphQL endpoint].
            </div> -->

        </div>  
        <div id="footer" class="footer">
            <input id="chkLocalSearch" type="checkbox" checked>
            <span >local search</span>
            &nbsp;&nbsp;
            <input id="chkShowResponses" type="checkbox" onclick="$('#jsonViewer').toggle()">
            <span >show responses</span>
            &nbsp;&nbsp;
            <a href="" onclick="return showModel()">show model</a>
            <a target="_blank" href="https://graphql-test.now.sh/">&nbsp;&nbsp;&nbsp;GraphQL API &#x25B6;</a>
        </div>
    </div>

    <script src="templates/js/index.js"></script>
</body>

</html>
