@import url("https://fonts.googleapis.com/css?family=Open+Sans:800|Roboto:400,900&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400");

body {
    margin: 30px;
}

h4 {
    margin-top: 30px;
}

.logo {
    width:80px; 
    vertical-align: middle;
    margin-right: 30px;
}


pre {
    margin: 0;
    margin-left: 5px;
    resize: vertical;
    overflow: auto;
    font-size: 90%;
    border: none;
    /* border-left: 1px dashed silver; */
    /* border-radius: 8px; */
    font-family: "Roboto Mono";
    background-color: transparent;
}

.flexed {
    display: grid;
    grid-template-columns: 50% 1fr;
    /* justify-content: center; */
}

.flexed>form {
    /* width:60%; */
    /* margin: auto; */
}

.flexed>pre {
    display: none;
}

.ui-widget {
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.menu {
    margin-bottom: 50px;
    margin-top:50px;
}

.underlined {
    border-bottom: 1px dashed silver ;
}

/* fix skeleton */
li {
    margin-bottom: 0;
}
/* fix milligram */
ol ol, ol ul, ul ol, ul ul {
    font-size: 100%;
}

.grided {
    display: grid;
    grid-template-columns: 1fr 120px;
    grid-column-gap: 5px;
    align-items: end;
}
.grided input {
    margin-bottom: 15px;
}

table .button {
    margin-bottom: 0;
    padding-left: 0;
}