@import url("https://fonts.googleapis.com/css?family=Open+Sans:800|Roboto:400,900&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400");

body {
    margin: 30px;
}

h4 {
    margin-top: 30px;
}

.logo {
    width:80px; 
    vertical-align: middle;
    margin-right: 30px;
}


pre {
    margin: 0;
    margin-left: 5px;
    resize: vertical;
    overflow: auto;
    font-size: 90%;
    border: none;
    /* border-left: 1px dashed silver; */
    /* border-radius: 8px; */
    font-family: "Roboto Mono";
    background-color: transparent;
}

.flexed {
    display: flex;
}

.flexed>form {
    width:40%;
}

.ui-widget {
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.menu {
    margin-bottom: 50px;
    margin-top:50px;
}

.underlined {
    border-bottom: 1px dashed silver ;
}